<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>重置密码</div>
        </div>
    </md-toolbar>
    <form name="resetForm" class="md-padding">
        <md-input-container class="md-block" flex-gt-sm>
            <label>密码</label>
            <i id="eye" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('userPassword','eye')"></i>
            <input minlength="6" md-maxlength="30" maxlength="30" type="password" required name="userPassword" id="userPassword"
                   ng-click="changeType('userPassword')"
                   ng-model="resetItem.userPassword">
            <div ng-messages="resetForm.userPassword.$error">
                <div ng-message="required">必填.</div>
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    密码必须在6-30字符以内
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>确认密码</label>
            <i id="eye1" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('reUserPassword','eye1')"></i>
            <input id="reUserPassword" md-maxlength="30" type="password" required name="reUserPassword"
                   ng-model="resetItem.reUserPassword" password-check="resetItem.userPassword"
                   ng-click="changeType('reUserPassword')">
            <div ng-messages="resetForm.reUserPassword.$error">
                <div ng-message="required">必填.</div>
                <div ng-message="passwordCheck">密码不一致.</div>
                <div ng-message="md-maxlength">不要超过30个字符</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="closeToggleForm()">
            取消
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="resetForm.$invalid"
                   disabled="{{resetItem.userPassword!==resetItem.reUserPassword}}"
                   ng-click="resetPassword(resetItem)">
            保存
        </md-button>
    </div>
</div>