<div layout-fill layout="column" cg-busy="{promise:roleDetailLoadingLayer,minDuration:500}">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>设置认证信息</div>
        </div>
    </md-toolbar>
    <md-content flex="auto">
        <form name="keycloakClientCredentialsForm" class="md-padding">

            <div ng-if="!openGenerateAndDownloadCredential">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>认证方式</label>
                    <md-select name="authType" ng-model="item.authType" required ng-change="onAuthTypeChange(item.authType)" >
                        <md-option ng-value="authType.paramKey" ng-repeat="authType in authTypes">{{authType.paramValue}}</md-option>
                    </md-select>
                    <div ng-messages="keycloakClientCredentialsForm.authType.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm ng-if="item.authType==='client-secret' || item.authType==='client-secret-jwt'">
                    <label>secret key</label>
                    <input required name="secretKey" ng-model="item.secretKey" ng-disabled="true">
                    <div ng-messages="keycloakClientCredentialsForm.secretKey.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm ng-if="item.authType==='client-x509'">
                    <label>证书标识</label>
                    <input required name="subjectDn" ng-model="item.subjectDn" >
                    <div ng-messages="keycloakClientCredentialsForm.subjectDn.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm ng-if="item.authType==='client-jwt'">
                    <label>使用JWKS URL</label>
                    <md-select name="useJwksUrl" ng-model="item.useJwksUrl" required >
                        <md-option ng-value="enable.id" ng-repeat="enable in enableList">{{enable.name}}</md-option>
                    </md-select>
                    <div ng-messages="keycloakClientCredentialsForm.useJwksUrl.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm ng-if="item.authType==='client-jwt'  && !item.useJwksUrl ">
                    <label>凭证</label>
                    <textarea  name="jwtCertificate" ng-model="item.jwtCertificate" ng-disabled="true" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm ng-if="item.authType==='client-jwt'  && item.useJwksUrl ">
                    <label>JWKS URL</label>
                    <input required name="jwksUrl" ng-model="item.jwksUrl" >
                    <div ng-messages="keycloakClientCredentialsForm.jwksUrl.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>
            </div>

            <div ng-if="openGenerateAndDownloadCredential">
                <md-input-container class="md-block" flex-gt-sm >
                    <label>封存格式</label>
                    <md-select name="format" ng-model="item.format" required >
                        <md-option ng-value="archiveFormat.paramKey" ng-repeat="archiveFormat in archiveFormats">{{archiveFormat.paramValue}}</md-option>
                    </md-select>
                    <div ng-messages="keycloakClientCredentialsForm.format.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm >
                    <label>Key 别名</label>
                    <input required name="keyAlias" ng-model="item.keyAlias" >
                    <div ng-messages="keycloakClientCredentialsForm.keyAlias.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm >
                    <label>Key 密码</label>
                    <input required name="keyPassword" ng-model="item.keyPassword" >
                    <div ng-messages="keycloakClientCredentialsForm.keyPassword.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>存储密码</label>
                    <input required name="storePassword" ng-model="item.storePassword" >
                    <div ng-messages="keycloakClientCredentialsForm.storePassword.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>
            </div>

        </form>

        <div layout="row" layout-align="start center" layout-margin>

            <div ng-if="openGenerateAndDownloadCredential">
                <md-button class="md-raised" ng-click="closeToggleForm()"  >
                    关闭
                </md-button>

                <md-button class="md-raised md-primary"
                           ng-click="generateAndDownload()"  >
                    生成并下载
                </md-button>
            </div>
            <div ng-if="!openGenerateAndDownloadCredential">
                <md-button class="md-raised" ng-click="closeToggleForm()"  >
                    取消
                </md-button>

                <md-button class="md-raised md-primary" ng-disabled="keycloakClientCredentialsForm.$invalid"
                           ng-click="saveClientCredential(item)" ng-if="!isSave"">
                    保存
                </md-button>

                <md-button class="md-raised md-primary"
                           ng-click="generateNewKeysAndCertificate()" ng-if="item.authType==='client-jwt'  && isSave" >
                    生成新的keys和证书
                </md-button>

                <md-button class="md-raised md-primary" ng-disabled="keycloakClientCredentialsForm.$invalid"
                           ng-click="generateClientSecret(item)" ng-if="item.authType==='client-secret' || item.authType==='client-secret-jwt'" >
                    重新生成密钥
                </md-button>
            </div>

        </div>
    </md-content>

</div>